body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color:linen;
}

header {
    background-color: white;
    color: black;
    padding: 1rem 0;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

    .nav li {
        margin: 0 15px;
    }

    .nav a {
        color: black;
        text-decoration: none;
    }

    .nav a:hover {
        text-decoration: underline;
    }

main {
    padding: 20px;
    text-align: center;
    background-color: linen;
}

footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
* {
    box-sizing: border-box;
}

.carousel {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: white;
    position: relative;
}

.carousel-track {
    display: flex;
    transition: transform 2s ease-in-out;
    width: 100%;
}

.carousel-slide img{
    min-width: 100%;
    background: #ddd;
    height:stretch;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-button {
    background: rgba(0,0,0,0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.carousel-button:hover {
    background: rgba(0,0,0,0.7);
}

#paragraph {
    position:absolute;
    top:400px;
    right:150px;

}
#whiteParagraph{
    color:white
}